# Ignore binaries
src/native/out/
**.out
**.so
**.dylib
**.dll
**.a
**.o
**.class
target/
checkouts/

# Ignore swapfiles
**.swp

# Ignore log files
**.log

# Ignore REPL stuff
.lein-repl-history
.nrepl-port
.lein-failures
