# Ignore binaries
src/native/out/
**.out
src/native/**.so
src/native/**.dylib
src/native/**.dll
**.a
**.o
**.class
target/
checkouts/

# Ignore swapfiles
**.swp

# Ignore log files
**.log

# Ignore REPL stuff
.lein-repl-history
.nrepl-port
.lein-failures
